<h2>Home Page</h2>

<p>This would be a static home page in a Rails application.</p>
<p>© <%= Date.today.year %> My App.</p>
<%= link_to "login", new_user_session_path %>
<%= link_to "sign-up", new_user_registration_path %>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
<%= link_to "facebook", user_facebook_omniauth_authorize_path %>
